<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">{{ config('app.version') }}</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            Copyright &copy; {{ config('app.name') }}
        </span>
    </div>
</footer>

<form method="POST" action="{{ path('auth.logout') }}" id="logout-form">{{ csrf_input() }}</form>
{% include "includes/script.twig" %}
