{% include "includes/head.twig" with {title: block('title')} %}
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            {% if config('app.logo') is not empty %}
                                <img src="{{ config('app.logo') }}" alt="logo" style="width: auto">
                            {% else %}
                                <img src="{{ theme_asset('images/logo.svg') }}" alt="logo" width="100"
                                     class="shadow-light rounded-circle" style="width: auto;">
                            {% endif %}
                        </div>
                        <h4>{{ block('title') }}</h4>

                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% include "includes/script.twig" %}
{% block scripts %}{% endblock %}
</body>
</html>